apiVersion: v1
kind: Service
metadata:
  name: postgres-exporter
  namespace: odoo-production
  labels:
    app: postgres-exporter
    tier: monitoring
spec:
  type: ClusterIP
  ports:
  - port: 9187
    targetPort: 9187
    protocol: TCP
    name: metrics
  selector:
    app: postgres-exporter
    tier: monitoring
